In [2]:
from datascience import *
import numpy as np
import re
from re import search
import requests
from bs4 import BeautifulSoup
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

In [3]:
# scrape_table function from video demo
import pandas as pd
def scrape_table(table):
    df = pd.read_html(str(table))
    df = pd.DataFrame(df[0])
    return Table.from_df(df)

In [4]:
r = requests.get("https://www.numbeo.com/cost-of-living/prices_by_country.jsp?itemId=6&regionCode=019&displayCurrency=CAD")
coke_text = BeautifulSoup(r.text, "html.parser")
coke_text_table = coke_text.find_all("table")[1]
coke_table = scrape_table(coke_text_table).drop("Rank").relabel("Coke/Pepsi (0.33 liter bottle)", "Price in CAD")
coke_table

Country    | Price in CAD
Kazakhstan | 0.78
Paraguay   | 1.18
Portugal   | 1.96
Greece     | 2.53
Latvia     | 1.56
Iran       | 1.16
Morocco    | 0.63
Panama     | 2.04
Guatemala  | 1.38
Iraq       | 0.58
... (96 rows omitted)

In [5]:
def convert(cur_from, cur_to, amount):
    payload = {
        'from': cur_from,
        'to': cur_to,
        'amount': amount,
        'api_key': '0a5659758c74b6dd01f96fdbc8fab87d'
    }
    r = requests.get('https://api.currencyscoop.com/v1/convert', params = payload)
    currency = r.json()
    return currency['response']['value']

In [6]:
#stolen shamlessly from example code
currency_url = "https://currencyscoop.com/supported-currencies"
currency_request = requests.get(currency_url)
currency_soup = BeautifulSoup(currency_request.text, 'html.parser')
currency_table = currency_soup.find("table")
currency_codes = scrape_table(currency_table)

codes = make_array()
for each_country in currency_codes.column("Currency"):
    codes = np.append(codes, each_country[-3:])

currency_codes = currency_codes.with_column("Code", codes)

def strip_code(country):
    return country[:-3]

currency_codes["Currency"] = currency_codes.apply(strip_code, "Currency")

In [7]:
import pycountry

mapping = {country.name: country.alpha_2 for country in pycountry.countries}
coke_table = coke_table.with_column("Country Code", coke_table.apply(lambda x: mapping.get(x), "Country"))

In [8]:
r = requests.get("https://www.iban.com/currency-codes")
currency_code_table = scrape_table(BeautifulSoup(r.text, "html.parser").find_all("table")[0])
currency_code_table

Country             | Currency              | Code | Number
AFGHANISTAN         | Afghani               | AFN  | 971
ÅLAND ISLANDS       | Euro                  | EUR  | 978
ALBANIA             | Lek                   | ALL  | 8
ALGERIA             | Algerian Dinar        | DZD  | 12
AMERICAN SAMOA      | US Dollar             | USD  | 840
ANDORRA             | Euro                  | EUR  | 978
ANGOLA              | Kwanza                | AOA  | 973
ANGUILLA            | East Caribbean Dollar | XCD  | 951
ANTARCTICA          | No universal currency | nan  | nan
ANTIGUA AND BARBUDA | East Caribbean Dollar | XCD  | 951
... (259 rows omitted)

In [9]:
def get_currency_code(country):
    i = np.where(currency_code_table.column("Country") == country.upper())
    return currency_code_table.column("Code")[i]

def clean_currency_code(code):
    cleaned_code = np.array_str(code)[2:5]
    return cleaned_code

coke_table = coke_table.with_column("Currency Code", coke_table.apply(get_currency_code, "Country"))
coke_table = coke_table.with_column("Currency Code", coke_table.apply(clean_currency_code, "Currency Code"))

coke_table = coke_table.where("Currency Code", are.not_equal_to(""))
coke_table

/Users/tpurewal/opt/anaconda3/lib/python3.9/site-packages/datascience/tables.py:558: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  return np.array([fn(*row) for row in rows])

Country    | Price in CAD | Country Code | Currency Code
Kazakhstan | 0.78         | KZ           | KZT
Paraguay   | 1.18         | PY           | PYG
Portugal   | 1.96         | PT           | EUR
Greece     | 2.53         | GR           | EUR
Latvia     | 1.56         | LV           | EUR
Morocco    | 0.63         | MA           | MAD
Panama     | 2.04         | PA           | PAB
Guatemala  | 1.38         | GT           | GTQ
Iraq       | 0.58         | IQ           | IQD
Chile      | 1.56         | CL           | CLF
... (78 rows omitted)

In [32]:
r = requests.get("https://taxsummaries.pwc.com/quick-charts/value-added-tax-vat-rates")
tax_table = scrape_table(BeautifulSoup(r.text, "html.parser").find_all("table")[0])
tax_table = tax_table.with_column("Territory", tax_table.apply(lambda x: x.split(" ")[0], "Territory"))
tax_table = tax_table.with_column("Standard VAT rate (%)", tax_table.apply())

tax_table

Territory  | Standard VAT rate (%)
Albania    | 20
Algeria    | 19
Angola     | 14
Argentina  | 21
Armenia    | 20
Australia  | Goods and services tax: 10
Austria    | 20
Azerbaijan | 18
Bahrain    | 10
Barbados   | 17.5
... (140 rows omitted)

In [ ]:
# tidy up currency symbol and GST rate
currencies = make_array()
gst_rates = make_array()

# loop through each country
for each_country in coke_table.column("Country"):
    # grab currency symbol only
  

    # grab GST rate only -- some countries don't have one, so I used regex to find perfect match
    match = search("\d\d%", each_country)
    if match != None:
        gst_rates = np.append(gst_rates, match.group(0))

    else:
        gst_rates = np.append(gst_rates, '0%')

# tack on new columns
coke_table = coke_table.with_column("GST Rate", gst_rates)
coke_table

Country    | Price in CAD | Country Code | Currency Code | GST Rate
Kazakhstan | 0.78         | KZ           | KZT           | 0%
Paraguay   | 1.18         | PY           | PYG           | 0%
Portugal   | 1.96         | PT           | EUR           | 0%
Greece     | 2.53         | GR           | EUR           | 0%
Latvia     | 1.56         | LV           | EUR           | 0%
Morocco    | 0.63         | MA           | MAD           | 0%
Panama     | 2.04         | PA           | PAB           | 0%
Guatemala  | 1.38         | GT           | GTQ           | 0%
Iraq       | 0.58         | IQ           | IQD           | 0%
Chile      | 1.56         | CL           | CLF           | 0%
... (78 rows omitted)